In [2]:
 #df1= pd.DataFrame({'Feel':})
    
    
data=[{'Blue':4,'Red':4}
     {'Blue':4,'Yellow':3}
     {'Yellow':3,'Red':4}] 

from sklearn.feature_extraction import DictVectorizer


#numpy is building block of pandas
# pandas are used to create data frame

SyntaxError: invalid syntax (<ipython-input-2-4337e527c40e>, line 5)

In [20]:
import numpy as np

dt_strings= np.array(['10-08-2018 12:30 PM',
                    '19-08-2018 12:00 PM',
                    '30-08-2018 1:30 PM'])

In [21]:
import pandas as pd
[pd.to_datetime(date, format='%m-%d-%Y %I:%M %p')for date in dt_strings]

ValueError: time data '19-08-2018 12:00 PM' does not match format '%m-%d-%Y %I:%M %p' (match)

In [11]:
dt_london=pd.Timestamp('2018-10-08 12:30:30', tz="Europe/London")

In [16]:
dt_london.tz_convert('Africa/Abidjan')

Timestamp('2018-10-08 11:30:30+0000', tz='Africa/Abidjan')

In [19]:
from pytz import all_timezones
all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Pacific-New',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [31]:
import pandas as pd
df_date=pd.DataFrame()
df_date['date']=pd.date_range('1/1/2017', periods=100, freq='H')
df_date

                  date
0  2017-01-01 00:00:00
1  2017-01-01 01:00:00
2  2017-01-01 02:00:00
3  2017-01-01 03:00:00
4  2017-01-01 04:00:00
5  2017-01-01 05:00:00
6  2017-01-01 06:00:00
7  2017-01-01 07:00:00
8  2017-01-01 08:00:00
9  2017-01-01 09:00:00
10 2017-01-01 10:00:00
11 2017-01-01 11:00:00
12 2017-01-01 12:00:00
13 2017-01-01 13:00:00
14 2017-01-01 14:00:00
15 2017-01-01 15:00:00
16 2017-01-01 16:00:00
17 2017-01-01 17:00:00
18 2017-01-01 18:00:00
19 2017-01-01 19:00:00
20 2017-01-01 20:00:00
21 2017-01-01 21:00:00
22 2017-01-01 22:00:00
23 2017-01-01 23:00:00
24 2017-01-02 00:00:00
25 2017-01-02 01:00:00
26 2017-01-02 02:00:00
27 2017-01-02 03:00:00
28 2017-01-02 04:00:00
29 2017-01-02 05:00:00
..                 ...
70 2017-01-03 22:00:00
71 2017-01-03 23:00:00
72 2017-01-04 00:00:00
73 2017-01-04 01:00:00
74 2017-01-04 02:00:00
75 2017-01-04 03:00:00
76 2017-01-04 04:00:00
77 2017-01-04 05:00:00
78 2017-01-04 06:00:00
79 2017-01-04 07:00:00
80 2017-01-04 08:00:00
81 2017-01-04 09:00:00
82 2017-01-04 10:00:00
83 2017-01-04 11:00:00
84 2017-01-04 12:00:00
85 2017-01-04 13:00:00
86 2017-01-04 14:00:00
87 2017-01-04 15:00:00
88 2017-01-04 16:00:00
89 2017-01-04 17:00:00
90 2017-01-04 18:00:00
91 2017-01-04 19:00:00
92 2017-01-04 20:00:00
93 2017-01-04 21:00:00
94 2017-01-04 22:00:00
95 2017-01-04 23:00:00
96 2017-01-05 00:00:00
97 2017-01-05 01:00:00
98 2017-01-05 02:00:00
99 2017-01-05 03:00:00

[100 rows x 1 columns]

In [30]:
df_date[df_date['date']>'2018-08-30']

         date
19 2018-08-31
20 2018-09-30
21 2018-10-31
22 2018-11-30
23 2018-12-31
24 2019-01-31
25 2019-02-28
26 2019-03-31
27 2019-04-30
28 2019-05-31
29 2019-06-30
30 2019-07-31
31 2019-08-31
32 2019-09-30
33 2019-10-31
34 2019-11-30
35 2019-12-31
36 2020-01-31
37 2020-02-29
38 2020-03-31
39 2020-04-30
40 2020-05-31
41 2020-06-30
42 2020-07-31
43 2020-08-31
44 2020-09-30
45 2020-10-31
46 2020-11-30
47 2020-12-31
48 2021-01-31
..        ...
70 2022-11-30
71 2022-12-31
72 2023-01-31
73 2023-02-28
74 2023-03-31
75 2023-04-30
76 2023-05-31
77 2023-06-30
78 2023-07-31
79 2023-08-31
80 2023-09-30
81 2023-10-31
82 2023-11-30
83 2023-12-31
84 2024-01-31
85 2024-02-29
86 2024-03-31
87 2024-04-30
88 2024-05-31
89 2024-06-30
90 2024-07-31
91 2024-08-31
92 2024-09-30
93 2024-10-31
94 2024-11-30
95 2024-12-31
96 2025-01-31
97 2025-02-28
98 2025-03-31
99 2025-04-30

[81 rows x 1 columns]

In [32]:
df_date.head

<bound method DataFrame.head of                   date
0  2017-01-01 00:00:00
1  2017-01-01 01:00:00
2  2017-01-01 02:00:00
3  2017-01-01 03:00:00
4  2017-01-01 04:00:00
5  2017-01-01 05:00:00
6  2017-01-01 06:00:00
7  2017-01-01 07:00:00
8  2017-01-01 08:00:00
9  2017-01-01 09:00:00
10 2017-01-01 10:00:00
11 2017-01-01 11:00:00
12 2017-01-01 12:00:00
13 2017-01-01 13:00:00
14 2017-01-01 14:00:00
15 2017-01-01 15:00:00
16 2017-01-01 16:00:00
17 2017-01-01 17:00:00
18 2017-01-01 18:00:00
19 2017-01-01 19:00:00
20 2017-01-01 20:00:00
21 2017-01-01 21:00:00
22 2017-01-01 22:00:00
23 2017-01-01 23:00:00
24 2017-01-02 00:00:00
25 2017-01-02 01:00:00
26 2017-01-02 02:00:00
27 2017-01-02 03:00:00
28 2017-01-02 04:00:00
29 2017-01-02 05:00:00
..                 ...
70 2017-01-03 22:00:00
71 2017-01-03 23:00:00
72 2017-01-04 00:00:00
73 2017-01-04 01:00:00
74 2017-01-04 02:00:00
75 2017-01-04 03:00:00
76 2017-01-04 04:00:00
77 2017-01-04 05:00:00
78 2017-01-04 06:00:00
79 2017-01-04 07:00:00
80 2017-01-04 08:00:00
81 2017-01-04 09:00:00
82 2017-01-04 10:00:00
83 2017-01-04 11:00:00
84 2017-01-04 12:00:00
85 2017-01-04 13:00:00
86 2017-01-04 14:00:00
87 2017-01-04 15:00:00
88 2017-01-04 16:00:00
89 2017-01-04 17:00:00
90 2017-01-04 18:00:00
91 2017-01-04 19:00:00
92 2017-01-04 20:00:00
93 2017-01-04 21:00:00
94 2017-01-04 22:00:00
95 2017-01-04 23:00:00
96 2017-01-05 00:00:00
97 2017-01-05 01:00:00
98 2017-01-05 02:00:00
99 2017-01-05 03:00:00

[100 rows x 1 columns]>

In [37]:
df_date['year']=df_date['date'].dt.year
df_date['month']=df_date['date'].dt.month
df_date['hour']=df_date['date'].dt.hour
df_date

                  date  year  month  hour
0  2017-01-01 00:00:00  2017      1     0
1  2017-01-01 01:00:00  2017      1     1
2  2017-01-01 02:00:00  2017      1     2
3  2017-01-01 03:00:00  2017      1     3
4  2017-01-01 04:00:00  2017      1     4
5  2017-01-01 05:00:00  2017      1     5
6  2017-01-01 06:00:00  2017      1     6
7  2017-01-01 07:00:00  2017      1     7
8  2017-01-01 08:00:00  2017      1     8
9  2017-01-01 09:00:00  2017      1     9
10 2017-01-01 10:00:00  2017      1    10
11 2017-01-01 11:00:00  2017      1    11
12 2017-01-01 12:00:00  2017      1    12
13 2017-01-01 13:00:00  2017      1    13
14 2017-01-01 14:00:00  2017      1    14
15 2017-01-01 15:00:00  2017      1    15
16 2017-01-01 16:00:00  2017      1    16
17 2017-01-01 17:00:00  2017      1    17
18 2017-01-01 18:00:00  2017      1    18
19 2017-01-01 19:00:00  2017      1    19
20 2017-01-01 20:00:00  2017      1    20
21 2017-01-01 21:00:00  2017      1    21
22 2017-01-01 22:00:00  2017      1    22
23 2017-01-01 23:00:00  2017      1    23
24 2017-01-02 00:00:00  2017      1     0
25 2017-01-02 01:00:00  2017      1     1
26 2017-01-02 02:00:00  2017      1     2
27 2017-01-02 03:00:00  2017      1     3
28 2017-01-02 04:00:00  2017      1     4
29 2017-01-02 05:00:00  2017      1     5
..                 ...   ...    ...   ...
70 2017-01-03 22:00:00  2017      1    22
71 2017-01-03 23:00:00  2017      1    23
72 2017-01-04 00:00:00  2017      1     0
73 2017-01-04 01:00:00  2017      1     1
74 2017-01-04 02:00:00  2017      1     2
75 2017-01-04 03:00:00  2017      1     3
76 2017-01-04 04:00:00  2017      1     4
77 2017-01-04 05:00:00  2017      1     5
78 2017-01-04 06:00:00  2017      1     6
79 2017-01-04 07:00:00  2017      1     7
80 2017-01-04 08:00:00  2017      1     8
81 2017-01-04 09:00:00  2017      1     9
82 2017-01-04 10:00:00  2017      1    10
83 2017-01-04 11:00:00  2017      1    11
84 2017-01-04 12:00:00  2017      1    12
85 2017-01-04 13:00:00  2017      1    13
86 2017-01-04 14:00:00  2017      1    14
87 2017-01-04 15:00:00  2017      1    15
88 2017-01-04 16:00:00  2017      1    16
89 2017-01-04 17:00:00  2017      1    17
90 2017-01-04 18:00:00  2017      1    18
91 2017-01-04 19:00:00  2017      1    19
92 2017-01-04 20:00:00  2017      1    20
93 2017-01-04 21:00:00  2017      1    21
94 2017-01-04 22:00:00  2017      1    22
95 2017-01-04 23:00:00  2017      1    23
96 2017-01-05 00:00:00  2017      1     0
97 2017-01-05 01:00:00  2017      1     1
98 2017-01-05 02:00:00  2017      1     2
99 2017-01-05 03:00:00  2017      1     3

[100 rows x 4 columns]

In [39]:
df_many=pd.DataFrame()
df_many['first']=pd.Timestamp('1/1/2017'), pd.Timestamp('1/1/2017')
df_many['Second']=pd.Timestamp('10/1/2017'), pd.Timestamp('1/6/2017')
df_many

       first     Second
0 2017-01-01 2017-10-01
1 2017-01-01 2017-01-06

In [42]:
df_many['diff']=df_many['Second']-df_many['first']
df_many['diff']

0   273 days
1     5 days
Name: diff, dtype: timedelta64[ns]

In [44]:
df1=pd.DataFrame(index=df_date)
df1

Empty DataFrame
Columns: []
Index: [(2017-01-01 00:00:00, 2017, 1, 0), (2017-01-01 01:00:00, 2017, 1, 1), (2017-01-01 02:00:00, 2017, 1, 2), (2017-01-01 03:00:00, 2017, 1, 3), (2017-01-01 04:00:00, 2017, 1, 4), (2017-01-01 05:00:00, 2017, 1, 5), (2017-01-01 06:00:00, 2017, 1, 6), (2017-01-01 07:00:00, 2017, 1, 7), (2017-01-01 08:00:00, 2017, 1, 8), (2017-01-01 09:00:00, 2017, 1, 9), (2017-01-01 10:00:00, 2017, 1, 10), (2017-01-01 11:00:00, 2017, 1, 11), (2017-01-01 12:00:00, 2017, 1, 12), (2017-01-01 13:00:00, 2017, 1, 13), (2017-01-01 14:00:00, 2017, 1, 14), (2017-01-01 15:00:00, 2017, 1, 15), (2017-01-01 16:00:00, 2017, 1, 16), (2017-01-01 17:00:00, 2017, 1, 17), (2017-01-01 18:00:00, 2017, 1, 18), (2017-01-01 19:00:00, 2017, 1, 19), (2017-01-01 20:00:00, 2017, 1, 20), (2017-01-01 21:00:00, 2017, 1, 21), (2017-01-01 22:00:00, 2017, 1, 22), (2017-01-01 23:00:00, 2017, 1, 23), (2017-01-02 00:00:00, 2017, 1, 0), (2017-01-02 01:00:00, 2017, 1, 1), (2017-01-02 02:00:00, 2017, 1, 2), (2017-01-02 03:00:00, 2017, 1, 3), (2017-01-02 04:00:00, 2017, 1, 4), (2017-01-02 05:00:00, 2017, 1, 5), (2017-01-02 06:00:00, 2017, 1, 6), (2017-01-02 07:00:00, 2017, 1, 7), (2017-01-02 08:00:00, 2017, 1, 8), (2017-01-02 09:00:00, 2017, 1, 9), (2017-01-02 10:00:00, 2017, 1, 10), (2017-01-02 11:00:00, 2017, 1, 11), (2017-01-02 12:00:00, 2017, 1, 12), (2017-01-02 13:00:00, 2017, 1, 13), (2017-01-02 14:00:00, 2017, 1, 14), (2017-01-02 15:00:00, 2017, 1, 15), (2017-01-02 16:00:00, 2017, 1, 16), (2017-01-02 17:00:00, 2017, 1, 17), (2017-01-02 18:00:00, 2017, 1, 18), (2017-01-02 19:00:00, 2017, 1, 19), (2017-01-02 20:00:00, 2017, 1, 20), (2017-01-02 21:00:00, 2017, 1, 21), (2017-01-02 22:00:00, 2017, 1, 22), (2017-01-02 23:00:00, 2017, 1, 23), (2017-01-03 00:00:00, 2017, 1, 0), (2017-01-03 01:00:00, 2017, 1, 1), (2017-01-03 02:00:00, 2017, 1, 2), (2017-01-03 03:00:00, 2017, 1, 3), (2017-01-03 04:00:00, 2017, 1, 4), (2017-01-03 05:00:00, 2017, 1, 5), (2017-01-03 06:00:00, 2017, 1, 6), (2017-01-03 07:00:00, 2017, 1, 7), (2017-01-03 08:00:00, 2017, 1, 8), (2017-01-03 09:00:00, 2017, 1, 9), (2017-01-03 10:00:00, 2017, 1, 10), (2017-01-03 11:00:00, 2017, 1, 11), (2017-01-03 12:00:00, 2017, 1, 12), (2017-01-03 13:00:00, 2017, 1, 13), (2017-01-03 14:00:00, 2017, 1, 14), (2017-01-03 15:00:00, 2017, 1, 15), (2017-01-03 16:00:00, 2017, 1, 16), (2017-01-03 17:00:00, 2017, 1, 17), (2017-01-03 18:00:00, 2017, 1, 18), (2017-01-03 19:00:00, 2017, 1, 19), (2017-01-03 20:00:00, 2017, 1, 20), (2017-01-03 21:00:00, 2017, 1, 21), (2017-01-03 22:00:00, 2017, 1, 22), (2017-01-03 23:00:00, 2017, 1, 23), (2017-01-04 00:00:00, 2017, 1, 0), (2017-01-04 01:00:00, 2017, 1, 1), (2017-01-04 02:00:00, 2017, 1, 2), (2017-01-04 03:00:00, 2017, 1, 3), (2017-01-04 04:00:00, 2017, 1, 4), (2017-01-04 05:00:00, 2017, 1, 5), (2017-01-04 06:00:00, 2017, 1, 6), (2017-01-04 07:00:00, 2017, 1, 7), (2017-01-04 08:00:00, 2017, 1, 8), (2017-01-04 09:00:00, 2017, 1, 9), (2017-01-04 10:00:00, 2017, 1, 10), (2017-01-04 11:00:00, 2017, 1, 11), (2017-01-04 12:00:00, 2017, 1, 12), (2017-01-04 13:00:00, 2017, 1, 13), (2017-01-04 14:00:00, 2017, 1, 14), (2017-01-04 15:00:00, 2017, 1, 15), (2017-01-04 16:00:00, 2017, 1, 16), (2017-01-04 17:00:00, 2017, 1, 17), (2017-01-04 18:00:00, 2017, 1, 18), (2017-01-04 19:00:00, 2017, 1, 19), (2017-01-04 20:00:00, 2017, 1, 20), (2017-01-04 21:00:00, 2017, 1, 21), (2017-01-04 22:00:00, 2017, 1, 22), (2017-01-04 23:00:00, 2017, 1, 23), (2017-01-05 00:00:00, 2017, 1, 0), (2017-01-05 01:00:00, 2017, 1, 1), (2017-01-05 02:00:00, 2017, 1, 2), (2017-01-05 03:00:00, 2017, 1, 3)]

[100 rows x 0 columns]

In [46]:
df1['height']={2,5,6,7,4,5,9,8}

ValueError: Length of values does not match length of index

In [48]:
df_dates['date']=pd.date_range('1/1/2017', periods=5 freq='H')
df=pd.DataFrame(index=df_dates)
df['height']={2,5,6,7,4,5,9,8}

df.rolling(window=3).mean()
#rolling window add previous values to next value and take mean of it

SyntaxError: invalid syntax (<ipython-input-48-a512ae892ca7>, line 1)

In [49]:
# interpolation: fill the missing values(Backfilling, forward fillling)
time_index_for_calculation = pd.date_range('01/01/2017', periods=5, freq='W')
df_weeks= pd.DataFrame(index=time_index_for_calculation)
df_weeks

Empty DataFrame
Columns: []
Index: [2017-01-01 00:00:00, 2017-01-08 00:00:00, 2017-01-15 00:00:00, 2017-01-22 00:00:00, 2017-01-29 00:00:00]

In [51]:
df_weeks['Price']=[12,85,na,na,85]

NameError: name 'na' is not defined

In [53]:
df_weeks.interpolate?